.banner {
  margin: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.side-menu {
  width: 30%;
}

.menu-element {
  display: flex;
  justify-content: space-between;
  width: 80px;
}

.bg-white {
  background-color: #ffffff;
}

.main-body {
  margin-left: 20px;
  width: 100%;
}

.selected-user {
  background-color: aqua;
}

.add-row {
  font-family: "Lucida Console", Courier, monospace;
}

.edit-buttons {
  display: flex;
  justify-content: space-evenly;
}
