.table td { 
  padding: 0px 2px;
}
.banner {
  margin: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.black {
  color: black;
}
.side-menu {
  width: 30%;
}

.priority-high {
  background-color: #11ff1fc2;
}

.priority-low {
  background-color: #fffe00b0;
}

.menu-element {
  display: flex;
  justify-content: space-between;
  width: 80px;
}

.bg-white {
  background-color: #ffffff;
}

.main-body {
  width: 100%;
  padding-left: 1rem;
}

.selected-user {
  background-color: aqua;
}

.add-row {
  font-family: "Lucida Console", Courier, monospace;
}

.edit-buttons {
  padding-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.recommended-by {
  font-size: 10pt;
  color: gray;
}
